.fancyform {
	width: 480px;
	padding: 10px;
	margin: 0 auto;
}

.fancyform label {
	color: #666;
}

.fancyform .input {
	overflow: hidden;
}

.fancyform .input label,
.fancyform .input input
{
	float: left;
	clear: both;
}

.fancyform form > div {
	margin: 10px 0;
}

.fancyform .input.text input,
.fancyform .input.password input,
.fancyform .submit input
{
	font-size: 16px;
	padding: 0.25em;
}

.fancyform .submit input {
	letter-spacing: 0.06em;
}