#loginForm {
	width: 480px;
	padding: 10px;
	margin: 0 auto;
}

#loginForm label {
	color: #666;
}

#loginForm .input label,
#loginForm .input input
{
	float: left;
	clear: both;
}

#loginForm .input {
	overflow: hidden;
}

#loginForm form > div {
	margin: 10px 0;
}

#loginForm .input.text input,
#loginForm .input.password input,
#loginForm .submit input
{
	font-size: 16px;
	padding: 0.25em;
}
#loginForm .submit input {
	letter-spacing: 0.06em;
}
