/* 
 * RESET
 * v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * END OF RESET
 */

/*
 * SITE WIDE CSS
 */

section, aside, header, footer {
	display: block;
}

h1 {
	font-size: 24px;
	margin-bottom: 12px;
}
h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
h3 {
	font-size: 16px;
	margin-bottom: 8px;
}
h4 {
	font-size: 12px;
	margin-bottom: 6px;
}
h5 {
	font-size: 10px;
	margin-bottom: 5px;
}
p {
	margin-bottom: 1.5em;
	max-width: 550px;
}

/*
 * END OF SITE WIDE CSS
 */

/*
 * DEFAULT THEME CSS
 * 
	Color-theme: "madmen" from kuler.adobe.com
	Dark red: 		#521000 rgb( 82, 16, 0 )
	Lighter red:	#712800 rgb( 113, 40, 0 )
	Cardboard:		#744E1D rgb( 116, 78, 29 )
	Turqoise:		#879666 rgb( 135, 150, 102 )
	Beige:			#F1D98C rgb( 241, 217, 140 )
*/

body.default {
	background: #333 url(../img/bg_pattern.jpg);
	color: #eee;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.75em;
	line-height: 1.7em;
}

body.default > section {
	width: 960px;
	background: #fff;
	color: #333;
	margin: 0 auto;
	
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

header, #content, footer {
	padding: 20px;
}

header {
	border-bottom: 1px dotted #ccc;
}

footer {
	border-top: 1px dotted #ccc;
}

a{
	color: #744E1D;
	text-decoration: none;		
}

a:hover{
	text-decoration: underline;
}

form#TaskRandomForm {
	width: 220px;
	padding: 10px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	overflow: hidden;
}
form#TaskRandomForm div {
	float: left;
}
form#TaskRandomForm div.submit {
	margin-left: 10px;
}
form#TaskRandomForm div.input.select {
	margin-top: 10px;
}
form#TaskRandomForm label {
	margin-right: 10px;
}
form#TaskRandomForm input[type="submit"] {
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	background-image: url('../img/random_button_gradient.jpg');
	background-repeat: repeat-x;
	border: 0;
	color: white;
	-moz-border-radius: 20px;
	border: 1px solid black;
	cursor: pointer;
}
form#TaskRandomForm input[type="submit"]:hover,
form#TaskRandomForm input[type="submit"]:active
{
	background-image: none;
	background-color: #744E1D;
}
form#TaskRandomForm input[type="submit"]:active {
	position: relative;
	top: 1px;
	left: 1px;
}

ul#tasks > li {
	text-indent: 1.5em;
	padding: 5px;
}
ul#tasks p {
	margin: 0;
}
ul#tasks > li.active {
	background-color: #879666;
}
div.tags {
	overflow: hidden;
	clear: right;
}
div.tags ul {
	color: #555;
}
div.tags h4 ,
div.tags li {
	float: left;
}
	/*MESSAGES STYLE*/
	
	.message {
		border: 1px solid rgba(0, 0, 0, 0.4);
		-moz-border-radius: 4px;
		border-radius: 4px;
		max-width: 225px;
		margin: 10px auto;
		padding: 10px;
	}
	
	.message p {
		margin: 0;
		padding: 0;
		text-align: justify;
	}
	
	.error.message {
		background: #712800;
		color: white;
	}
	
	.notice.message {
		background: #879666;
		color: white;
	}
	
	/*END OF MESSAGES STYLE*/

	/*LOGIN FORM*/
	
	#loginForm {
		margin: 0 auto;
		width: 225px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 15px 10px;
	}
	
	#loginForm p {
		text-align: center;
	}
	
	#loginForm input ,
	#loginForm label ,
	#loginForm p{
		display: block;
		width: 205px;
		margin: 0 auto;
	}
	
	#loginForm input {
		font-family: arial, lucida, helvetica, sans-serif;
		padding: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	#loginForm form > div {
		margin-bottom: 10px;
		text-shadow:1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#loginForm form .input input {
		color: #712800;
	}
	
	#loginForm form .input input:focus {
		border: 1px solid #F1D98C;
		color: #904116;
	}
	
	#loginForm .submit input {
		height: 32px;
		margin-top: 15px;
		background: repeat-x url("../img/login_submit_button_gradient.jpg");
		font-size: 16px;
		font-weight: bold;
		color: white;
		cursor: pointer;
	}
	
	/*END OF LOGIN FORM*/

/**
 * END OF DEFAULT THEME CSS
 */