/*

	Colors: "madmen" theme from kuler.adobe.com
	Dark red: 		#521000
	Lighter red:	#712800
	Cardboard:		#744E1D
	Turqoise:		#879666
	Beige:			#F1D98C

*/

body{
	background: #333 url(../img/noise.png);
	color: #eee;
	font-family: Arial, sans-serif;
}

#container{
	width: 960px;
	background: #fff;
	color: #333;
	margin: 0 auto;	
}

#header, #content, #footer {
	padding: 20px;
}

#header {
	border-bottom: 1px dotted #ccc;
}

#footer {
	border-top: 1px dotted #ccc;
}

a{
	color: #950;
	text-decoration: none;		
}

a:hover{
	text-decoration: underline;
}

form#TaskRandomForm {
	width: 220px;
	padding: 10px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	overflow: hidden;
}
form#TaskRandomForm div {
	float: left;
}
form#TaskRandomForm div.submit {
	margin-left: 10px;
}
form#TaskRandomForm div.input.select {
	margin-top: 10px;
}
form#TaskRandomForm label {
	margin-right: 10px;
}
form#TaskRandomForm input[type="submit"] {
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	background-image: url('../img/random_button_gradient.jpg');
	background-repeat: repeat-x;
	border: 0;
	color: white;
	-moz-border-radius: 20px;
	border: 1px solid black;
	cursor: pointer;
}
form#TaskRandomForm input[type="submit"]:hover,
form#TaskRandomForm input[type="submit"]:active
{
	background-image: none;
	background-color: #744E1D;
}
form#TaskRandomForm input[type="submit"]:active {
	position: relative;
	top: 1px;
	left: 1px;
}