/* 
 * RESET
 * v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * END OF RESET
 */

/*
 * SITE WIDE CSS
 */

section, aside, header, footer {
	display: block;
}

h1 {
	font-size: 24px;
	margin-bottom: 12px;
}
h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
h3 {
	font-size: 16px;
	margin-bottom: 8px;
}
h4 {
	font-size: 12px;
	margin-bottom: 6px;
}
h5 {
	font-size: 10px;
	margin-bottom: 5px;
}
p {
	margin-bottom: 1.5em;
	max-width: 550px;
}

/*
 * END OF SITE WIDE CSS
 */

/*
 * DEFAULT LAYOUT CSS
 * 
	Color-theme: "madmen" from kuler.adobe.com
	Dark red: 		#521000 rgb( 82, 16, 0 )
	Lighter red:	#712800 rgb( 113, 40, 0 )
	Cardboard:		#744E1D rgb( 116, 78, 29 )
	Turqoise:		#879666 rgb( 135, 150, 102 )
	Beige:			#F1D98C rgb( 241, 217, 140 )
*/

body.default {
	background: #333 url(../img/bg_pattern.jpg);
	color: #eee;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.75em;
	line-height: 1.7em;
}

body.default > section {
	width: 960px;
	background: #fff;
	color: #333;
	margin: 0 auto;
	overflow: hidden;
	
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

body.default > section > section {
	overflow: hidden;
}

body.default > section > header,
body.default #contentHeader,
body.default #content,
body.default #sidebar,
body.default > section > footer {
	padding: 20px;
}

body.default > section > header {
	border-bottom: 1px dotted #ccc;
}

body.default #content {
	float: left;
	width: 615px;
}

body.default #sidebar {
	float: right;
	width: 265px;
}

body.default > section > footer {
	float: left;
	clear: both;
	width: 920px;
	border-top: 1px dotted #ccc;
}

body.default a {
	color: #744E1D;
	text-decoration: none;		
}

body.default a:hover {
	text-decoration: underline;
}

body.default #logout {
	float: right;
}

/**
 * END OF DEFAULT LAYOUT CSS
 */

/*
 * WELCOME LAYOUT CSS
 * 
	same as default
	Color-theme: "madmen" from kuler.adobe.com
	Dark red: 		#521000 rgb( 82, 16, 0 )
	Lighter red:	#712800 rgb( 113, 40, 0 )
	Cardboard:		#744E1D rgb( 116, 78, 29 )
	Turqoise:		#879666 rgb( 135, 150, 102 )
	Beige:			#F1D98C rgb( 241, 217, 140 )
*/

body.welcome {
	background: #333 url(../img/bg_pattern.jpg);
	color: #eee;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.75em;
	line-height: 1.7em;
}

body.welcome > section {
	width: 710px;
	margin: 13% auto 0 auto;
	overflow: hidden;
}

body.welcome > section > section {
	width: 365px;
	float: left;
	padding: 20px;
	overflow: hidden;
	text-shadow: 1px 1px rgba(55,55,55,1);
}

body.welcome > section > aside {
	width: 265px;
	float: right;
	padding: 20px;
}

body.welcome .welcome.message {
	width: 365px;
	margin: 0;
}


/**
 * END OF WELCOME LAYOUT CSS
 */

	/*TASKS AND TAGS STYLE*/
	
	ul#tasks > li {
		text-indent: 1.5em;
		padding: 5px;
	}
	ul#tasks p {
		margin: 0;
	}
	ul#tasks > li.active {
		background-color: #879666;
	}
	div.tags {
		overflow: hidden;
		clear: right;
	}
	div.tags ul {
		color: #555;
	}
	div.tags h4 ,
	div.tags li {
		float: left;
	}
	/*END OF TASKS AND TAGS STYLE*/

	/*RANDOM TASK BUTTON STYLE*/
	
	#TaskRandomButton {
		display: block;
		width: 250px;
		text-align: center;
		vertical-align: middle;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 20px;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		padding: 5px;
		background: repeat-x url('../img/random_button_gradient.jpg');
		color: white;
		-moz-border-radius: 20px;
		border: 1px solid black;
		cursor: pointer;
	}
	#TaskRandomButton:hover,
	#TaskRandomButton:active
	{
		text-decoration: none;
		background-image: url('../img/random_button_gradient_hover.jpg');
	}
	#TaskRandomButton:active {
		position: relative;
		top: 1px;
		left: 1px;
	}

	/*END OF RANDOM TASK BUTTON STYLE*/

	/*MESSAGES STYLE*/
	
	.message {
		border: 1px solid rgba(0, 0, 0, 0.4);
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin: 0 auto 10px auto;
		padding: 10px;
	}
	
	.message p {
		margin: 0;
		padding: 0;
		text-align: justify;
	}
	
	.error.message {
		background: #712800;
		color: white;
	}
	
	.notice.message {
		background: #879666;
		color: white;
	}
	
	/*END OF MESSAGES STYLE*/

	/*LOGIN FORM*/
	
	#loginForm {
		margin: 0 auto;
		width: 225px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 15px 10px;
	}
	
	#loginForm p {
		text-align: center;
	}
	
	#loginForm input ,
	#loginForm label ,
	#loginForm p{
		display: block;
		width: 205px;
		margin: 0 auto;
	}
	
	#loginForm input {
		font-family: arial, lucida, helvetica, sans-serif;
		padding: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	#loginForm form > div {
		margin-bottom: 10px;
		text-shadow:1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#loginForm form .input input {
		color: #712800;
	}
	
	#loginForm form .input input:focus {
		border: 1px solid #F1D98C;
		color: #904116;
	}
	
	#loginForm .submit input {
		height: 32px;
		margin-top: 15px;
		background: repeat-x url("../img/login_submit_button_gradient.jpg");
		font-size: 16px;
		font-weight: bold;
		color: white;
		cursor: pointer;
	}
	
	/*END OF LOGIN FORM*/